name: JMeter Performance Tests (Enterprise)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

env:
  JMETER_VERSION: 5.6.3
  TEST_PLAN: Test_File.jmx
  RESULTS_DIR: results
  JTL_FILE: results/results.jtl
  REPORT_DIR: results/report

# -------------------------------------------------
# 1️⃣ JOB: Execute JMeter Test
# -------------------------------------------------
jobs:
  run-jmeter:
    name: Run JMeter Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '17'

    - name: Install JMeter
      run: |
        wget https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-${JMETER_VE_
